<h1>Worklist</h1>

<table>
	<thead>
		<tr>
			<th>Account #</th>
			<th>Patient Name</th>
			<th>Current Balance</th>
			<th>Date Added</th>
		</tr>
	</thead>
	<tbody>
		<% accounts.forEach(function(account) { %>
			<tr>
				<td><%= account.number %></td>
				<td><%= account.lastName %>, <%= account.firstName %></td>
				<td>$<%= account.currentBalance.toFixed(2) %></td>
				<td><%= account.created.toDateString() %></td>
			</tr>
		<% }) %>
	</tbody>
</table>