<% include ./partials/header %>

<div class="ui main container">
	<!-- HEADER -->
	<h1 class="ui center aligned icon header">
		<i class="circular address card outline icon"></i>
	</h1>

	<!-- SECONDARY MENU -->
	<div class="ui secondary pointing menu">
		<a class="active item" href="#">Patient Info</a>
		<a class="item" href="#">Insurance</a>
		<a class="item" href="#">Comments</a>
		<div class="right menu">
			<a class="edit popup icon button" data-tooltip="Edit Account" data-position="top right" href="/accounts/<%= account._id %>/edit">
				<i class="edit icon"></i>
			</a>
		</div>
	</div>

	<!-- PATIENT DETAILS -->
	<table class="ui definition table">
		<tbody>
			<tr>
				<td class="four wide column">Account #</td>
				<td><%= account.number %></td>
			</tr>
			<tr>
				<td>Patient Name</td>
				<td><%= account.lastName %>, <%= account.firstName %></td>
			</tr>
			<tr>
				<td>Current Balance</td>
				<td>$<%= account.currentBalance.toFixed(2) %></td>
			</tr>
		</tbody>
	</table>
	
	<!-- COMMENTS -->
	<div class="ui segment">
		<p><%= account.comment %></p>
	</div>

<% include ./partials/footer %>