<% include ./partials/header %>

<div class="ui main text container">
	<!-- HEADER -->
	<h1 class="ui center aligned icon header">
		<i class="circular address card outline icon"></i>
	</h1>

	<!-- PATIENT DETAILS -->
	<h4 class="ui horizontal divider header">
		<i class="user icon"></i>
		Patient Information
	</h4>
	<table class="ui definition table">
		<tbody>
			<tr>
				<td class="four wide column">Account #</td>
				<td><%= account.number %></td>
			</tr>
			<tr>
				<td>Patient Name</td>
				<td><%= account.lastName %>, <%= account.firstName %></td>
			</tr>
			<tr>
				<td>Current Balance</td>
				<td>$<%= account.currentBalance.toFixed(2) %></td>
			</tr>
		</tbody>
	</table>
	<!-- COMMENTS -->
	<h4 class="ui horizontal divider header">
		<i class="sticky note icon"></i>
		Comments
	</h4>
	<div class="ui segment">
		<p><%= account.comment %></p>
	</div>

<% include ./partials/footer %>