<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
			<div class="caption">
				<a href="mailto:<%= user.email %>"><%= user.email %></a>
			</div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi architecto totam, maxime, inventore repellat magni in unde minima ipsa cupiditate saepe reprehenderit impedit, consectetur, possimus error aspernatur debitis. Eveniet, ullam.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi architecto totam, maxime, inventore repellat magni in unde minima ipsa cupiditate saepe reprehenderit impedit, consectetur, possimus error aspernatur debitis. Eveniet, ullam.
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s Campgrounds:</h3>
		<ul>
			<% campgrounds.forEach(function(campground) { %>
				<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
			<% }); %>
		</ul>
	</div>	
</div>

<% include ../partials/footer %>