<% include ../partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">Edit Account</div>
	<form class="ui form" action="/accounts/<%= account._id %>?_method=PUT" method="POST">
		<h4 class="ui dividing header">Patient Information</h4>
		<div class="field">
			<label>Account #</label>
			<input autofocus="true" type="text" name="account[number]" value="<%= account.number %>" maxlength="8" required>
		</div>
		<div class="field">
			<label>Patient Name</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="account[firstName]" placeholder="First Name" value="<%= account.firstName %>" required>
				</div>
				<div class="field">
					<input type="text" name="account[lastName]" placeholder="Last Name" value="<%= account.lastName %>" required>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Current Balance</label>
			<input type="number" step="0.01" name="account[currentBalance]" value="<%= account.currentBalance.toFixed(2) %>" required>
		</div>
		<input class="ui button" type="submit">
	</form>
</div>

<% include ../partials/footer %>